.Field {
  border: 1px solid #00ABFD;
  width: 11.1%;
  max-width: 50px;
}
.Field:nth-child(3) {
  border-right: 3px solid black;
}
.Field:nth-child(6) {
  border-right: 3px solid black;
}
.Field:nth-child(12) {
  border-right: 3px solid black;
}
.Field:nth-child(15) {
  border-right: 3px solid black;
}
.Field:nth-child(21) {
  border-right: 3px solid black;
}
.Field:nth-child(24) {
  border-right: 3px solid black;
}
.Field:nth-child(30) {
  border-right: 3px solid black;
}
.Field:nth-child(33) {
  border-right: 3px solid black;
}
.Field:nth-child(39) {
  border-right: 3px solid black;
}
.Field:nth-child(42) {
  border-right: 3px solid black;
}
.Field:nth-child(48) {
  border-right: 3px solid black;
}
.Field:nth-child(51) {
  border-right: 3px solid black;
}
.Field:nth-child(57) {
  border-right: 3px solid black;
}
.Field:nth-child(60) {
  border-right: 3px solid black;
}
.Field:nth-child(66) {
  border-right: 3px solid black;
}
.Field:nth-child(69) {
  border-right: 3px solid black;
}
.Field:nth-child(75) {
  border-right: 3px solid black;
}
.Field:nth-child(78) {
  border-right: 3px solid black;
}
.Field:nth-child(19) {
  border-bottom: 3px solid black;
}
.Field:nth-child(20) {
  border-bottom: 3px solid black;
}
.Field:nth-child(21) {
  border-bottom: 3px solid black;
}
.Field:nth-child(22) {
  border-bottom: 3px solid black;
}
.Field:nth-child(23) {
  border-bottom: 3px solid black;
}
.Field:nth-child(24) {
  border-bottom: 3px solid black;
}
.Field:nth-child(25) {
  border-bottom: 3px solid black;
}
.Field:nth-child(26) {
  border-bottom: 3px solid black;
}
.Field:nth-child(27) {
  border-bottom: 3px solid black;
}
.Field:nth-child(46) {
  border-bottom: 3px solid black;
}
.Field:nth-child(47) {
  border-bottom: 3px solid black;
}
.Field:nth-child(48) {
  border-bottom: 3px solid black;
}
.Field:nth-child(49) {
  border-bottom: 3px solid black;
}
.Field:nth-child(50) {
  border-bottom: 3px solid black;
}
.Field:nth-child(51) {
  border-bottom: 3px solid black;
}
.Field:nth-child(52) {
  border-bottom: 3px solid black;
}
.Field:nth-child(53) {
  border-bottom: 3px solid black;
}
.Field:nth-child(54) {
  border-bottom: 3px solid black;
}