* {
	box-sizing: border-box;
/*	border: 1px solid red ;*/
}

span {
	min-height: 44px;
	width: 100%;
	height: 100%;
	display: inline-block;
	padding: 3px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: LightCyan;
}
input {
	min-height: 44px;
	width: 100%;
	height: 100%;
	border: none;
	padding-left: 12px;
	text-align: center;
}

article {
	border: 1px solid grey;
	width: 11.1%;
	max-width: 50px;
}

section {
	display: flex;
	flex-wrap: wrap;
	max-width: 450px;
	justify-content: center;
}

.Title {
	background-color: red;
}


